.daily-card {
  display: flex;

  &__inner {
    background-color: $color-white;
    display: flex;
    width: 100%;
    padding: 1em;
    border-radius: 4px;
    color: $color-primary;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.175);
    transition: $easeInOut;

    @media screen and (max-width: $sm) {
      padding: 0.75rem;
    }

    @media screen and (max-width: $md) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__time {
    @media screen and (max-width: $md) {
      margin: 0;
      width: 60px;
      font-size: 1.2em;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    font-size: 80px;

    @media screen and (max-width: $md) {
      height: auto;
      width: 32px;
      font-size: 2em;
    }
  }

  &__summary {
    margin-top: 1em;

    span {
      margin: 0.2em;
      font-size: 2em;
    }

    .degrees {
      margin: 0;
      font-size: 1.4em;
    }

    @media screen and (max-width: $md) {
      margin: 0;
      width: 92px;
      text-align: right;

      span {
        margin: 0;
        font-size: 1.4em;
      }
    }
  }

  &:first-of-type {
    .daily-card__inner {
      background-color: $color-tertiary;
    }
  }

  @media screen and (max-width: $md) {
    padding-bottom: 0;
  }
}
