#header {
  &__logo {
    a {
      overflow: hidden;
    }

    &__location-name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__buttons {
    button {
      background-color: $color-primary;
      font-size: 0.8em;

      &:last-child {
        margin-left: 0.5rem;
      }

      &.active {
        background-color: darken($color-secondary, 10%);
      }
    }

    @media screen and (max-width: 40em) {
      margin-top: 0.8em;

      button {
        width: 50%;
        height: 36px;
        font-size: 1rem;

        &:last-child {
          margin-left: 1rem;
        }
      }
    }
  }
}
