#header {
  &__logo {
    a {
      overflow: hidden;
    }

    &__location-name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__buttons {
    button {
      background-color: darken($color-secondary, 5%);
      font-size: 0.8em;

      &.active {
        background-color: darken($color-secondary, 15%);
      }
    }

    @media screen and (max-width: 40em) {
      margin-top: 0.8em;

      button {
        width: 50%;
        height: 36px;
      }
    }
  }
}
