/*
 * Theme: Colors
 *
 */

$color-white: #FFFFFF;
$color-black: #111111;
$color-grey: #777777;

$color-primary: #7E5A9B;
$color-secondary: #E4B7E5;
$color-accent: #66CED6;
$color-warn: #EE4266;

/*
 * Theme: Fonts
 *
 */

$font-primary: "Roboto", Helvetica, sans-serif;

/*
 * Theme: Elements
 *
 */

$button-radius: 4px;
$border-radius: 4px;

/*
 * Theme: Transitions
 *
 */

$easeInOut: all 200ms ease-in-out;
