/*
 * Theme: Colors
 *
 */

$color-white: #FFFFFF;
$color-black: #363732;
$color-grey: #777777;

$color-primary: #8FF7A7;
$color-secondary: #57B8FF;
$color-tertiary: #F4E76E;
$color-accent: #757761;
$color-accent2: #F4E76E;

/*
 * Theme: Fonts
 *
 */

$font-primary: "Rubik", Helvetica, sans-serif;

/*
 * Theme: Elements
 *
 */

$button-radius: 2px;
$border-radius: 4px;

/*
 * Theme: Breakpoints
 *
 */

$sm: 40em;
$md: 52em;
$lg: 64em;

/*
 * Theme: Transitions
 *
 */

$easeInOut: all 200ms ease-in-out;
