/*
 * Theme: Colors
 *
 */

$color-white: #FFFFFC;
$color-black: #000000;
$color-grey: #777777;

$color-primary: #8ACDEA;
$color-secondary: #FFAE03;
$color-accent: #E9190F;

/*
 * Theme: Fonts
 *
 */

$font-primary: "Rubik", Helvetica, sans-serif;

/*
 * Theme: Elements
 *
 */

$button-radius: 2px;
$border-radius: 4px;

/*
 * Theme: Transitions
 *
 */

$easeInOut: all 200ms ease-in-out;
