* {
  box-sizing: border-box;
}

html {
  margin: 0;
	padding: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
	padding: 0;
	border: 0;
  font-size: 16px;
  font-family: $font-primary;
  line-height: 1;
  background-color: $color-secondary;
  color: $color-white;
}

a {
  text-decoration: none;
  color: $color-white;
  transition: $easeInOut;

  &:hover {
    color: $color-tertiary;
    text-decoration: none;
  }
}

#weather-card-list {
  height: calc(100% - 42px);

  @media screen and (max-width: $sm) {
    height: auto;
  }
}
