// Element Sizing

.h100 {
  height: 100%;
}

.hc100 {
  height: calc(100% - 42px);

  @media screen and (max-width: $sm) {
    height: calc(100% - 84px);
  }
}

.radius {
  border-radius: $border-radius;
}

.icon--sm {
  font-size: 1em;
}

.icon--md {
  font-size: 2em;
}

.icon--lg {
  font-size: 3em;
}

// Element Colors

.bg-primary {
  background-color: $color-primary;
  color: $color-white;

  &:hover,
  &.active {
    background-color: darken($color-primary, 5%);
  }

  &:active,
  &:focus {
    background-color: darken($color-primary, 10%);
  }
}

.bg-secondary {
  background-color: $color-secondary;
  color: $color-white;

  &:hover,
  &.active {
    background-color: darken($color-secondary, 5%);
  }

  &:active,
  &:focus {
    background-color: darken($color-secondary, 10%);
  }
}

.bg-accent {
  background-color: $color-accent;
  color: $color-white;

  &:hover,
  &.active {
    background-color: darken($color-accent, 5%);
  }

  &:active,
  &:focus {
    background-color: darken($color-accent, 10%);
  }
}

// Borders

.border-primary {
  border: 1px solid $color-primary;

  &:hover,
  &.active {
    border-color: darken($color-primary, 5%);
  }

  &:active,
  &:focus {
    border-color: darken($color-primary, 10%);
  }
}

.border-secondary {
  border: 1px solid $color-secondary;

  &:hover,
  &.active {
    border-color: darken($color-secondary, 5%);
  }

  &:active,
  &:focus {
    border-color: darken($color-secondary, 10%);
  }
}

.border-accent {
  border: 1px solid $color-accent;

  &:hover,
  &.active {
    border-color: darken($color-accent, 5%);
  }

  &:active,
  &:focus {
    border-color: darken($color-accent, 10%);
  }
}

// Colors

.color-primary {
  color: $color-primary;

  &:hover,
  &.active {
    color: darken($color-primary, 5%);
  }

  &:active,
  &:focus {
    color: darken($color-primary, 10%);
  }
}

.color-secondary {
  color: $color-secondary;

  &:hover,
  &.active {
    color: darken($color-secondary, 5%);
  }

  &:active,
  &:focus {
    color: darken($color-secondary, 10%);
  }
}

.color-accent {
  color: $color-accent;

  &:hover,
  &.active {
    color: darken($color-accent, 5%);
  }

  &:active,
  &:focus {
    color: darken($color-accent, 10%);
  }
}

// Buttons

.btn-primary {
  background-color: darken($color-primary, 5%);

  &.active {
    background-color: darken($color-primary, 15%);
  }
}

.btn-secondary {
  background-color: darken($color-secondary, 5%);

  &.active {
    background-color: darken($color-secondary, 15%);
  }
}

.btn-tertiary {
  background-color: darken($color-tertiary, 5%);

  &.active {
    background-color: darken($color-tertiary, 15%);
  }
}

.btn-accent {
  background-color: darken($color-accent, 5%);

  &.active {
    background-color: darken($color-accent, 15%);
  }
}

.btn-accent2 {
  background-color: darken($color-accent2, 5%);

  &.active {
    background-color: darken($color-accent2, 15%);
  }
}
